# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
Pods/Manifest.lock
Pods/AFNetworking/LICENSE
Pods/AFNetworking/README.md
Pods/AFNetworking/AFNetworking/AFHTTPSessionManager.h
Pods/AFNetworking/AFNetworking/AFHTTPSessionManager.m
Pods/AFNetworking/AFNetworking/AFNetworking.h
Pods/AFNetworking/AFNetworking/AFNetworkReachabilityManager.h
Pods/AFNetworking/AFNetworking/AFNetworkReachabilityManager.m
Pods/AFNetworking/AFNetworking/AFSecurityPolicy.h
Pods/AFNetworking/AFNetworking/AFSecurityPolicy.m
Pods/AFNetworking/AFNetworking/AFURLRequestSerialization.h
Pods/AFNetworking/AFNetworking/AFURLRequestSerialization.m
Pods/AFNetworking/AFNetworking/AFURLResponseSerialization.h
Pods/AFNetworking/AFNetworking/AFURLResponseSerialization.m
Pods/AFNetworking/AFNetworking/AFURLSessionManager.h
Pods/AFNetworking/AFNetworking/AFURLSessionManager.m
Pods/AFNetworking/UIKit+AFNetworking/AFAutoPurgingImageCache.h
Pods/AFNetworking/UIKit+AFNetworking/AFAutoPurgingImageCache.m
Pods/AFNetworking/UIKit+AFNetworking/AFImageDownloader.h
Pods/AFNetworking/UIKit+AFNetworking/AFImageDownloader.m
Pods/AFNetworking/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.h
Pods/AFNetworking/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.m
Pods/AFNetworking/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.h
Pods/AFNetworking/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.m
Pods/AFNetworking/UIKit+AFNetworking/UIButton+AFNetworking.h
Pods/AFNetworking/UIKit+AFNetworking/UIButton+AFNetworking.m
Pods/AFNetworking/UIKit+AFNetworking/UIImage+AFNetworking.h
Pods/AFNetworking/UIKit+AFNetworking/UIImageView+AFNetworking.h
Pods/AFNetworking/UIKit+AFNetworking/UIImageView+AFNetworking.m
Pods/AFNetworking/UIKit+AFNetworking/UIKit+AFNetworking.h
Pods/AFNetworking/UIKit+AFNetworking/UIProgressView+AFNetworking.h
Pods/AFNetworking/UIKit+AFNetworking/UIProgressView+AFNetworking.m
Pods/AFNetworking/UIKit+AFNetworking/UIRefreshControl+AFNetworking.h
Pods/AFNetworking/UIKit+AFNetworking/UIRefreshControl+AFNetworking.m
Pods/AFNetworking/UIKit+AFNetworking/UIWebView+AFNetworking.h
Pods/AFNetworking/UIKit+AFNetworking/UIWebView+AFNetworking.m
Pods/GKCover/LICENSE
Pods/GKCover/README.md
Pods/GKCover/GKCover/GKCover.h
Pods/GKCover/GKCover/GKCover.m
Pods/GKCover/GKCover/GKCoverEnum.h
Pods/GKCover/GKCover/Category/UIView+GKExtension.h
Pods/GKCover/GKCover/Category/UIView+GKExtension.m
Pods/GKNavigationBarViewController/LICENSE
Pods/GKNavigationBarViewController/README.md
Pods/GKNavigationBarViewController/GKNavigationBarViewController/GKNavigationBarConfigure.h
Pods/GKNavigationBarViewController/GKNavigationBarViewController/GKNavigationBarConfigure.m
Pods/GKNavigationBarViewController/GKNavigationBarViewController/GKNavigationBarViewController.h
Pods/GKNavigationBarViewController/GKNavigationBarViewController/GKNavigationBarViewController.m
Pods/GKNavigationBarViewController/GKNavigationBarViewController/Category/GKCategory.h
Pods/GKNavigationBarViewController/GKNavigationBarViewController/Category/UIBarButtonItem+GKCategory.h
Pods/GKNavigationBarViewController/GKNavigationBarViewController/Category/UIBarButtonItem+GKCategory.m
Pods/GKNavigationBarViewController/GKNavigationBarViewController/Category/UINavigationController+GKCategory.h
Pods/GKNavigationBarViewController/GKNavigationBarViewController/Category/UINavigationController+GKCategory.m
Pods/GKNavigationBarViewController/GKNavigationBarViewController/Category/UIScrollView+GKCategory.h
Pods/GKNavigationBarViewController/GKNavigationBarViewController/Category/UIScrollView+GKCategory.m
Pods/GKNavigationBarViewController/GKNavigationBarViewController/Category/UIViewController+GKCategory.h
Pods/GKNavigationBarViewController/GKNavigationBarViewController/Category/UIViewController+GKCategory.m
Pods/GKNavigationBarViewController/GKNavigationBarViewController/GKNavigationBarViewController.bundle/btn_back_black@2x.png
Pods/GKNavigationBarViewController/GKNavigationBarViewController/GKNavigationBarViewController.bundle/btn_back_black@3x.png
Pods/GKNavigationBarViewController/GKNavigationBarViewController/GKNavigationBarViewController.bundle/btn_back_white@2x.png
Pods/GKNavigationBarViewController/GKNavigationBarViewController/GKNavigationBarViewController.bundle/btn_back_white@3x.png
Pods/GKNavigationBarViewController/GKNavigationBarViewController/GKNavigationBarViewController.bundle/transparent_bg.png
Pods/GKNavigationBarViewController/GKNavigationBarViewController/TransitionAnimation/GKDelegateHandler.h
Pods/GKNavigationBarViewController/GKNavigationBarViewController/TransitionAnimation/GKDelegateHandler.m
Pods/GKNavigationBarViewController/GKNavigationBarViewController/TransitionAnimation/GKPopTransitionAnimation.h
Pods/GKNavigationBarViewController/GKNavigationBarViewController/TransitionAnimation/GKPopTransitionAnimation.m
Pods/GKNavigationBarViewController/GKNavigationBarViewController/TransitionAnimation/GKPushTransitionAnimation.h
Pods/GKNavigationBarViewController/GKNavigationBarViewController/TransitionAnimation/GKPushTransitionAnimation.m
Pods/Masonry/LICENSE
Pods/Masonry/README.md
Pods/Masonry/Masonry/MASCompositeConstraint.h
Pods/Masonry/Masonry/MASCompositeConstraint.m
Pods/Masonry/Masonry/MASConstraint+Private.h
Pods/Masonry/Masonry/MASConstraint.h
Pods/Masonry/Masonry/MASConstraint.m
Pods/Masonry/Masonry/MASConstraintMaker.h
Pods/Masonry/Masonry/MASConstraintMaker.m
Pods/Masonry/Masonry/MASLayoutConstraint.h
Pods/Masonry/Masonry/MASLayoutConstraint.m
Pods/Masonry/Masonry/Masonry.h
Pods/Masonry/Masonry/MASUtilities.h
Pods/Masonry/Masonry/MASViewAttribute.h
Pods/Masonry/Masonry/MASViewAttribute.m
Pods/Masonry/Masonry/MASViewConstraint.h
Pods/Masonry/Masonry/MASViewConstraint.m
Pods/Masonry/Masonry/NSArray+MASAdditions.h
Pods/Masonry/Masonry/NSArray+MASAdditions.m
Pods/Masonry/Masonry/NSArray+MASShorthandAdditions.h
Pods/Masonry/Masonry/NSLayoutConstraint+MASDebugAdditions.h
Pods/Masonry/Masonry/NSLayoutConstraint+MASDebugAdditions.m
Pods/Masonry/Masonry/View+MASAdditions.h
Pods/Masonry/Masonry/View+MASAdditions.m
Pods/Masonry/Masonry/View+MASShorthandAdditions.h
Pods/Masonry/Masonry/ViewController+MASAdditions.h
Pods/Masonry/Masonry/ViewController+MASAdditions.m
Pods/Pods.xcodeproj/project.pbxproj
Pods/SDWebImage/LICENSE
Pods/SDWebImage/README.md
Pods/SDWebImage/SDWebImage/NSData+ImageContentType.h
Pods/SDWebImage/SDWebImage/NSData+ImageContentType.m
Pods/SDWebImage/SDWebImage/NSImage+WebCache.h
Pods/SDWebImage/SDWebImage/NSImage+WebCache.m
Pods/SDWebImage/SDWebImage/SDImageCache.h
Pods/SDWebImage/SDWebImage/SDImageCache.m
Pods/SDWebImage/SDWebImage/SDImageCacheConfig.h
Pods/SDWebImage/SDWebImage/SDImageCacheConfig.m
Pods/SDWebImage/SDWebImage/SDWebImageCompat.h
Pods/SDWebImage/SDWebImage/SDWebImageCompat.m
Pods/SDWebImage/SDWebImage/SDWebImageDecoder.h
Pods/SDWebImage/SDWebImage/SDWebImageDecoder.m
Pods/SDWebImage/SDWebImage/SDWebImageDownloader.h
Pods/SDWebImage/SDWebImage/SDWebImageDownloader.m
Pods/SDWebImage/SDWebImage/SDWebImageDownloaderOperation.h
Pods/SDWebImage/SDWebImage/SDWebImageDownloaderOperation.m
Pods/SDWebImage/SDWebImage/SDWebImageManager.h
Pods/SDWebImage/SDWebImage/SDWebImageManager.m
Pods/SDWebImage/SDWebImage/SDWebImageOperation.h
Pods/SDWebImage/SDWebImage/SDWebImagePrefetcher.h
Pods/SDWebImage/SDWebImage/SDWebImagePrefetcher.m
Pods/SDWebImage/SDWebImage/UIButton+WebCache.h
Pods/SDWebImage/SDWebImage/UIButton+WebCache.m
Pods/SDWebImage/SDWebImage/UIImage+GIF.h
Pods/SDWebImage/SDWebImage/UIImage+GIF.m
Pods/SDWebImage/SDWebImage/UIImage+MultiFormat.h
Pods/SDWebImage/SDWebImage/UIImage+MultiFormat.m
Pods/SDWebImage/SDWebImage/UIImageView+HighlightedWebCache.h
Pods/SDWebImage/SDWebImage/UIImageView+HighlightedWebCache.m
Pods/SDWebImage/SDWebImage/UIImageView+WebCache.h
Pods/SDWebImage/SDWebImage/UIImageView+WebCache.m
Pods/SDWebImage/SDWebImage/UIView+WebCache.h
Pods/SDWebImage/SDWebImage/UIView+WebCache.m
Pods/SDWebImage/SDWebImage/UIView+WebCacheOperation.h
Pods/SDWebImage/SDWebImage/UIView+WebCacheOperation.m
Pods/Target Support Files/AFNetworking/AFNetworking-dummy.m
Pods/Target Support Files/AFNetworking/AFNetworking-prefix.pch
Pods/Target Support Files/AFNetworking/AFNetworking-umbrella.h
Pods/Target Support Files/AFNetworking/AFNetworking.modulemap
Pods/Target Support Files/AFNetworking/AFNetworking.xcconfig
Pods/Target Support Files/AFNetworking/Info.plist
Pods/Target Support Files/GKCover/GKCover-dummy.m
Pods/Target Support Files/GKCover/GKCover-prefix.pch
Pods/Target Support Files/GKCover/GKCover-umbrella.h
Pods/Target Support Files/GKCover/GKCover.modulemap
Pods/Target Support Files/GKCover/GKCover.xcconfig
Pods/Target Support Files/GKCover/Info.plist
Pods/Target Support Files/GKNavigationBarViewController/GKNavigationBarViewController-dummy.m
Pods/Target Support Files/GKNavigationBarViewController/GKNavigationBarViewController-prefix.pch
Pods/Target Support Files/GKNavigationBarViewController/GKNavigationBarViewController-umbrella.h
Pods/Target Support Files/GKNavigationBarViewController/GKNavigationBarViewController.modulemap
Pods/Target Support Files/GKNavigationBarViewController/GKNavigationBarViewController.xcconfig
Pods/Target Support Files/GKNavigationBarViewController/Info.plist
Pods/Target Support Files/Masonry/Info.plist
Pods/Target Support Files/Masonry/Masonry-dummy.m
Pods/Target Support Files/Masonry/Masonry-prefix.pch
Pods/Target Support Files/Masonry/Masonry-umbrella.h
Pods/Target Support Files/Masonry/Masonry.modulemap
Pods/Target Support Files/Masonry/Masonry.xcconfig
Pods/Target Support Files/Pods-GKAudioPlayerDemo/Info.plist
Pods/Target Support Files/Pods-GKAudioPlayerDemo/Pods-GKAudioPlayerDemo-acknowledgements.markdown
Pods/Target Support Files/Pods-GKAudioPlayerDemo/Pods-GKAudioPlayerDemo-acknowledgements.plist
Pods/Target Support Files/Pods-GKAudioPlayerDemo/Pods-GKAudioPlayerDemo-dummy.m
Pods/Target Support Files/Pods-GKAudioPlayerDemo/Pods-GKAudioPlayerDemo-frameworks.sh
Pods/Target Support Files/Pods-GKAudioPlayerDemo/Pods-GKAudioPlayerDemo-resources.sh
Pods/Target Support Files/Pods-GKAudioPlayerDemo/Pods-GKAudioPlayerDemo-umbrella.h
Pods/Target Support Files/Pods-GKAudioPlayerDemo/Pods-GKAudioPlayerDemo.debug.xcconfig
Pods/Target Support Files/Pods-GKAudioPlayerDemo/Pods-GKAudioPlayerDemo.modulemap
Pods/Target Support Files/Pods-GKAudioPlayerDemo/Pods-GKAudioPlayerDemo.release.xcconfig
Pods/Target Support Files/SDWebImage/Info.plist
Pods/Target Support Files/SDWebImage/SDWebImage-dummy.m
Pods/Target Support Files/SDWebImage/SDWebImage-prefix.pch
Pods/Target Support Files/SDWebImage/SDWebImage-umbrella.h
Pods/Target Support Files/SDWebImage/SDWebImage.modulemap
Pods/Target Support Files/SDWebImage/SDWebImage.xcconfig
Pods/Target Support Files/YYModel/Info.plist
Pods/Target Support Files/YYModel/YYModel-dummy.m
Pods/Target Support Files/YYModel/YYModel-prefix.pch
Pods/Target Support Files/YYModel/YYModel-umbrella.h
Pods/Target Support Files/YYModel/YYModel.modulemap
Pods/Target Support Files/YYModel/YYModel.xcconfig
Pods/YYModel/LICENSE
Pods/YYModel/README.md
Pods/YYModel/YYModel/NSObject+YYModel.h
Pods/YYModel/YYModel/NSObject+YYModel.m
Pods/YYModel/YYModel/YYClassInfo.h
Pods/YYModel/YYModel/YYClassInfo.m
Pods/YYModel/YYModel/YYModel.h
